@media screen and (max-width: 1300px) {
    .nav-toggle {
        display: block;
        margin-right: 20px;
    }

    .main-nav{
        overflow: initial;
    }

    .nav-links {
        position: absolute;
        background-color: white ;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
    }

    .active {
        left: 0;
    }


    .nav-links ul{
        flex-direction: column;
    }

    .container {
        width: 100%;
    }


    /* header section */
    .header-left {
        max-width: 100%;
    }

    .header-section {
        display: flex;
        flex-direction: column-reverse;
    }

    .header-right img {
        width: 350px;
    }

    .header-left h1 {
        font-size: 1.5rem;
    }

    .header-left .primary-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* companies section */
    .company-image {
        width: 100%;
        flex-direction: column;
    }

    .company-image img {
        /* width: 80%; */
        margin: auto;
    }

    .logo7 {
        max-width: 150px;
    }

    /* feature section */
    .various-features {
        display: flex;
        flex-direction: column;
    }

    .feature-card {
        max-width: 100%;
    }

    .feature-img img {
        width: 350px;
    }


    /* big features section */
    .big-feature-container {
        display: flex;
        flex-direction: column;
    }

    .extra-class {
        display: flex;
        flex-direction: column-reverse;
    }


    /* example section */
    .example-card {
        width: 98%;
    }

    .example-area {
        gap: 20px;
    }


    /* cts section */
    .cts-section-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .right-side img {
        width: 100%;
    }

    .left-side .primary-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    /* sub footer */
    .sub-footer-container{
        display: flex;
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;
    }

    .link-column{
        align-items: center;
    }
    
    

    /* footer */

    .footer-container{
        flex-direction: column;
    }
}

/* @media screen and (max-width: 767px) {
    .nav-toggle {
        display: block;
        margin-right: 20px;
    }

    .nav-links {
        display: none;
    }

    .example-card {
        width: 48%;
    }

    .example-area {
        gap: 20px;
    }
} */