@media screen and (max-width: 991px) {
    .nav-toggle{
        display: block;
        margin-right: 20px;
    }

    .nav-links{
        display: none;
    }

    .example-card{
        width: 48%;
    }

    .example-area{
        gap: 20px;
    }

    .header-right img{
        width: 350px;
    }

    .feature-img img{
        width: 350px;
    }

    .right-side img{
        width: 350px;
    }
    
    .sub-footer-container{
        flex-direction: column;
    }

    .link-column{
        width: 90%;
        justify-content: center;
        align-items: center;
        margin-block: 20px;
    }

    .sub-footer-container .company-logo img{
        justify-content: center;
        align-items: center;
        margin-left: 55%;
    }
}

/* @media screen and (max-width: 767px) {
    .nav-toggle {
        display: block;
        margin-right: 20px;
    }

    .nav-links {
        display: none;
    }

    .example-card {
        width: 48%;
    }

    .example-area {
        gap: 20px;
    }
} */
